body {
    font-family: 'PT Sans Narrow', sans-serif;
    color: $black;
    font-size: $font-size-default;
    @include breakpoint('mobile'){
        font-size: $font-size-small;
    }
    * {
        box-sizing: border-box;
    }
    [class$="--font-small"]{
            font-size: $font-size-small;
        }
    [class$="--font-large"]{
            font-size: $font-size-large;
    }
    .mobile-hidden {
        @include breakpoint('tablet'){
            display: none;
        }
    }
    .desktop-hidden {
        display: none;
        @include breakpoint('tablet'){
            display: block;
        }
    }
    .container {
        max-width: 966px;
        padding: $gutter;
        margin: 0 auto;
    }
    h2 {
        font-size: $font-size-xlarge;
        text-transform: uppercase;
        font-weight: 700;
    }

}