body {
    font-family: 'PT Sans Narrow', sans-serif;
    color: $black;
    font-size: 16px;
    @include breakpoint('mobile'){
        font-size: 12px;
    }
    * {
        box-sizing: border-box;
    }
    .mobile-hidden {
        @include breakpoint('tablet'){
            display: none;
        }
    }
    .desktop-hidden {
        display: none;
        @include breakpoint('tablet'){
            display: block;
        }
    }
    .container {
        max-width: 966px;
        padding: $gutter;
        margin: 0 auto;
    }
    h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }

}